[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "3rdparty/QHotkey"]
	path = 3rdparty/QHotkey
	url = https://github.com/Skycoder42/QHotkey.git
