[Desktop Entry]
Type=Application
Name=Botfather Nightly
Comment=Create and run Android, Browser and Desktop bots
Exec=botfather
Icon=io.botfather.Nightly
Categories=Development;
Keywords=botfather;android;browser;desktop;bot;framework;
