[Desktop Entry]
Type=Application
Name=Botfather Nightly
Comment=Create and run Android, Browser and Desktop bots
Exec=io.botfather.Nightly
Icon=io.botfather.Nightly
Categories=Utility;Development;Education;
Keywords=botfather;android;browser;desktop;bot;framework;
